{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <img src="{{ user.avatar(128) }}">
        </div>
        <div class="col-sm-9 col-md-10">
            <h1>{{ _('User: %(username)s', username=user.username) }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}
            <p>{{ _('Last seen on:') }} {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %}

            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
            {% endif %}
        </div>
    </div>
    <hr>

    <p>Excellent Smithers.</p>
{% endblock %}
